@import "../../styles/vars.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 12vh;
    max-width: 1920px;
    padding: 0 3rem;

    .title { 
        display: flex;
        align-items: center;

        svg{
            font-size: 2.4rem;
            margin-right: 0.8rem;
        }

        h2 {
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.2rem;
            border-bottom: 2px solid $dark;
            padding-right: 4rem;
        }
    }

    .user-container{
        display: flex;
        align-items: center;

        .user-info {
            display: flex;
            flex-direction: column;
            margin-right: 1rem;

            font-size: 1.2rem;
            text-align: right;
            line-height: 1.4rem;

            span:first-child{
                font-weight: 700;
            }

        }

        svg {
            font-size: 2.4rem;
        }
    }
}